<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="header">
<meta charset="UTF-8">
<title>Challenge</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/signin.css}">
</head>
<body>
	<!-- BARRA DE NAVEGACION -->
	<header th:fragment="header">

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="#"><strong>MyLogo</strong></a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- ENLACES DEL MENU -->
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" th:href="@{/index}">Inicio</a></li>
						<li class="nav-item" sec:authorize="isAuthenticated()"><a
							class="nav-link" th:href="@{/characters/}">Personajes</a></li>
							<li class="nav-item" sec:authorize="isAuthenticated()"><a
							class="nav-link" th:href="@{/movies/}">Peliculas/Series</a></li>
					</ul>

					<nav>
						<ul class="navbar-nav mr-auto">
							<li sec:authorize="!isAuthenticated()"><a
								class="btn btn-outline-warning" th:href="@{/auth/login}">Iniciar
									Sesion</a></li>
						</ul>
						<form th:action="@{/logout}" method="post">
							<button class="btn btn-outline-warning"
								sec:authorize="isAuthenticated()" type="submit">Cerrar
								Sesión</button>
						</form>
					</nav>

				</div>

			</div>

		</nav>

		<!-- MENSAJES -->
		<div class="alert alert-success alert-dismissable"
			th:if="${success != null}">
			<label th:text="${success}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>

		<div class="alert alert-danger alert-dismissable"
			th:if="${error != null}">
			<label th:text="${error}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>

		<div class="alert alert-warning alert-dismissable"
			th:if="${warning != null}">
			<label th:text="${warning}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>

		<div class="alert alert-info alert-dismissable"
			th:if="${info != null}">
			<label th:text="${info}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
	</header>

	<!-- CONTENIDO-->

	<div class="container"></div>

	<!-- PIE DE PAGINA -->

	<footer th:fragment="footer"
		class="bg-dark text-center text-white fixed-bottom">
		<p>Jorge Britos - britosj30@gmail.com - (+598) 98 129 694</p>
		<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</footer>
</body>
</html>