<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/template :: head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header th:replace="plantilla/template :: header"></header>

	<div class="container">
		<h1 th:text="${titulo}"></h1>
		<div class="container">

			<a class="btn btn-primary btn-sm"
				sec:authorize="hasRole('ROLE_ADMIN')"
				th:href="@{/characters/create}" th:text="'Nuevo Personaje'"
				title="Crear Nuevo Registro"> </a>

			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Imagen</th>
						<th scope="col">Nombre</th>
						<th scope="col">Detalles</th>
						<th scope="col" sec:authorize="hasRole('ROLE_ADMIN')">Editar</th>
						<th scope="col" sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="pr:${personajes}">
					<td>
								<img class="img-thumbnail rounded"
									th:src="@{'/Recursos/' + ${pr.imagen}}" th:alt="${pr.imagen}"
									style="max-width: 25%;">
							</td>
						
						<td th:text="${pr.nombre}"></td>

						<td><a class="btn btn-success btn-sm"
							th:href="@{/characters/details/} + ${pr.id}"
							th:text="'Detalles'" title="Detalles">></a></td>
						<td sec:authorize="hasRole('ROLE_ADMIN')"><a
							class="btn btn-success btn-sm"
							th:href="@{/characters/edit/} + ${pr.id}"
							th:text="'Editar'" title="Editar Registro">></a></td>
						<td sec:authorize="hasRole('ROLE_ADMIN')"><a
							class="btn btn-danger btn-sm"
							th:href="@{/characters/delete/} + ${pr.id}"
							th:text="'Eliminar'" title="Eliminar Registro"
							onclick="return confirm('Esta seguro de eliminar este registro? ')">
						</a></td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>

	<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>